@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat');

*,
*:before,
*after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


header{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  text-align: center;
  font-size: 2vw;
  margin-top: 2%;
  font-weight: 900;
}


.homepage{
  background-image: url("../img/backtest.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
}

.nounderline{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 2.1vw;
  text-align: center;
}

h2 {
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  /*font-size: 20px;*/
  font-size: 2.1vw;
  text-align: center;
}

h2 > a{
  position: relative;
  color: #000;
  text-decoration: none;
}


h2 > a:hover{
  color: rgba(0,0,0,1);
}

h2 > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


h3{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
}

h4{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 18px;
  text-align: left;
  margin-right: 60px;
  margin-left: 60px;
  
}

hr{
  background-color: rgba(0,0,0,1);
  margin-top: 15px;
  size: 5px;
}

.titleclear{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
  border: 2px solid black;
}

.titlefill{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
  background: Thistle;
  padding-top: 2px;
  padding-bottom: 2px;
}

.exptitle{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 22px;
  text-align: left;
  margin-left: 30px;
}

.expsubtitle{
  color: rgba(134,135,135,1);
  font-family: "Montserrat";
  font-size: 17px;
  text-align: left;
  margin-left: 30px;
  padding-top: 5px;
}

.expbody{
  font-family: "Domine";
  font-size: 18px;
  margin-left: 30px;
  margin-right: 345px;
  padding-bottom: 10px;
}

.projectdes{
  color: rgba(0,0,0,1);
  font-family: "Domine";
  font-size: 15px;
  text-align: center;
}

.projectdate{
  color: rgba(134,135,135,1);
  font-family: "Domine";
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.resumelist{
  color: rgba(0,0,0,1);
  font-family: "Domine";
  font-size: 22px;
  text-align: center;
  padding-top: 15px;
}

img.logo{
  display: block;
  width: 22%;
  height: 21%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  z-index: 200;
}

img.choicepic{
  display: block;
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
}

img.mentorpic{
  display: block;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

img.homebutton{
  position:fixed;
  top: 10px;
  left: 10px;
  display: block;
  width: 80px;
  height: 79px;
}

img.bio{
  display: block;
  width: 300px;
  height: 320px;
  margin-left: 40px;
  padding-top: 20px;
}

img.signature{
  display: block;
  width: 64%;
  height: 44%;
  margin-left: 35%;
  margin-top: -5%;
}

img.insta{
  margin-left:95%;
  margin-top: -3%;
  width: 45px;
  height: 33px;
}


img.upbeetlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 200px;
  width: 60%;
}

#photos{
  line-height: 3;
  -webkit-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 10px;
}

#photos img{
  width: 100% !important;
  height: auto !important;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

#photos img:hover{
  opacity: 0.7;
}



.menubar{
  padding-bottom: 30px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 100;
}

.topmenubar{
  position: -webkit-sticky;
  position: sticky;
  margin-top: -6%;
}

img.myprojectpic{
  width: 49.5%;
}

img.paperpic{
  width: 100%;
}

.myproject{
  width: 80%;
  padding-top: 5%;
  padding-bottom: 2.5%;
  margin: auto;
}

.inkdescription{
  margin-left: 52%;
  width: 44%;
  /*font-size: 17px;*/
  font-size: 2.6vh;
}

.inktitle{
  text-align: center;
  font-family: 'Montserrat';
  /*font-size: 20px;*/
  font-size: 3.5vh;
  margin-bottom: 3%;
}

.homebar{
  width: 25%;
  height: 3px;
  margin: auto;
  background-color: black;
  margin-top: 5%;
  border-radius: 10px;
}

.homedescription{
  width: 55%;
  margin: auto;
  padding-top: 5%;
  font-size: 2.3vw;
}

.workbutton{
  width: 18%;
  margin: auto;
  background-color: black;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  border-radius: 2px;
}

p.button{
  font-family: 'Montserrat';
  font-size: 2.9vh;
  text-align: center;
  color: white;
}

.choiceparent{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
}

.choiceprojects{
  width: 28%;
  margin-left: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.choicemenu{
  width: 28%;
  margin-left: 4%;
  /*font-family: 'Montserrat';
  font-size: 2.1vw;
  text-align: center;
  */
  margin-top: 2%;
}

.choice{
  width: 28%;
  margin-left: 45px;
  padding-top: 20%;
  padding-bottom: 15%;
}

.bioparent{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.biochild{
  width: 45%;
  margin: 15px;
  padding-top: 30px;
  font-family: 'Domine';
  font-size: 17px; 
  line-height: 2;
}

.resumeparent{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.resumechild{
  width: 29%;
  margin-left: 3%;
  font-family: "Domine";
  padding-bottom: 30px;
}

.otherheader{
  font-family: 'Montserrat';
  font-size: 3vw;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 7%;
  color: rgba(0,0,0,1);
}

.errortitle{
  font-family: 'Montserrat';
  font-size: 6vw;
  text-align: center;
  color: rgba(0,0,0,1);
}

.errortext{
  font-family: 'Montserrat';
  font-size: 1.8vw;
  text-align: center;
  color: rgba(0,0,0,1);
  margin-top: 3%;
}

.container{
  margin: 10px;
  width: 115px;
  height: 115px;
  line-height: 115px;
  text-align: center;
  border: 1px solid red;
}

.resize_fit_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 75%;
}

.resize_half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;
}

.paperink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 79%;
  background-image: url("../img/paperink.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 12%;
  padding-bottom: 15%;
}

.textcenter{
  text-align: center;
}

.mavenformat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.infographic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
}

.curly {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


p.curlyblock {
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5%;
  margin-bottom: -0.5%;
  width: 35%;
  font-family: "Domine";
}

p.cap {
  font-size: 1em;
  line-height: 1.25em;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  text-align: left;
  font-family: "Domine";
}

h6 {
  font-size: 2em;
  margin-left: 5%;
  margin-bottom: 0.5%;
  text-align: left;
  font-family: "Montserrat";
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  margin-top: 3%;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  color: grey;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


img.Phprocess {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

a:link {
  color: rgba(0,0,0,1);
  text-decoration: none;
}

a:visited{
  color: rgba(0,0,0,1);
}

a:hover {
  color: DarkGray;
}

.footer{
  height: 60px;
  background-color: #efefef;
  text-align: center;
  font-family:'Montserrat'; 
  font-size: 18px;
  color: rgb(0,0,0,1);
}

.footer2{
  width: 100%;
  height: 5%;
  background-color: #efefef;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat';
  color: rgb(0,0,0,1);
  margin-top: 5%;
  padding-top: 10px;
}

img.copyright{
  height: 11px;
}

ul{
  list-style-type: none;
}

.gist{
  width: 50% !important;
  margin-left: 25%;
}

.gist-file

.gist-data{
  max-height: 400px;
  max-width: 600px;
}

.gist-meta {
  display: none;
}


@media(max-width: 1300px){
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media screen and (max-width: 1100px){
  #photos{
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .inkdescription{
    margin-left: 52%;
    margin-top: -3%;
    width: 44%;
    font-size: 2.6vh;
  }
  .topmenubar{
    position: -webkit-sticky;
    position: sticky;
    margin-top: -6%;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.1vw;
    text-align: center;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 150px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 850px) and (min-width: 701px){
  #photos{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .choiceprojects{
    width: 42%;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.5vw;
    text-align: center;
  }
  img.myprojectpic{
    width: 100%;
  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/paperink3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 3vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 4vh;
    margin-top: -4%;
    margin-bottom: 3%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }
  .topmenubar{
    position: -webkit-sticky;
    position: sticky;
    margin-top: -7%;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.4vw;
    text-align: center;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 150px;
    padding-bottom: 10px;
  }
  h3{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
  }
  .titleclear{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    border: 2px solid black;
  }
  .titlefill{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    background: Thistle;
    padding-top: 2px;
    padding-bottom: 2px;
  }  
}

@media screen and (max-width: 700px) and (min-width: 0px){
  #photos{
    -moz-column-count: 1;
    -webit-column-count: 1;
    column-count: 1;
  }
  .choiceprojects{
    display: block;
    width: 100%;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 65%;
    margin: auto;
    padding-top: 5%;
    font-size: 3.1vw;
  }
  img.myprojectpic{
    width: 100%;
  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/paperink4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 2.7vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3.5vh;
    margin-top: -4%;
    margin-bottom: 3%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2vh;
    text-align: center;
    color: white;
  }
  .topmenubar{
    position: -webkit-sticky;
    position: sticky;
    margin-top: -9%;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.6vw;
    text-align: center;
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.5vw;
    text-align: center;
  }
  img.homebutton{
    position:fixed;
    top: 7px;
    left: 7px;
    display: block;
    width: 60px;
    height: 59px;
  }

}

