@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat');

*,
*:before,
*after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


header{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  text-align: center;
  font-size: 2vw;
  margin-top: 2%;
  font-weight: 900;
}


#newnav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
}

.testingmenu { 
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 12px;
  font-family: "Montserrat";
  margin-right: 2%;
}

#newnav img {
  float: left;
  display: block;
  height: 45px;
/*
  width: 21%;
  margin-top: .4%;
  margin-bottom: .4%;
*/
  padding: 5px;
  margin-left: 3%;
}

#newnav a:hover {
  color: DarkGray;
}

/*
img.navlogo {
  margin-right: 75%;
  width: 23%;
}
*/

.topproject {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 4%;
}

.topproject img {
  width: 50%;
}

.topproject .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}

.topproject .description2 {
  float: right;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}

.topproject h1 {
  font-family: "Montserrat";
  font-size: 3.3vw;
  margin-top: 5%;
}

.topproject h3 {
  font-family: "Montserrat";
  font-size: 40px;
  margin-top: 5%;
  text-align: center;
}

.topproject h2 {
  font-family: "Montserrat";
  font-size: 1.9vw;
  font-style: italic;
  text-align: left;
  color: rgba(134,135,135,1);
  margin-top: -5%;
  margin-bottom: 2%;
}

.topproject p {
  font-family: "Domine";
  font-size: 1.5vw;
  margin-top: 2%;
  line-height: 20pt;
  text-decoration: none; 
}

.homepage{
  background-image: url("../img/backtest.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
}

.nounderline{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 2.1vw;
  text-align: center;
}

h2 {
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  /*font-size: 20px;*/
  font-size: 2.1vw;
  text-align: center;
}

h2 > a{
  position: relative;
  color: #000;
  text-decoration: none;
}


h2 > a:hover{
  color: rgba(0,0,0,1);
}

h2 > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


h3{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
}

h4{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 18px;
  text-align: left;
  margin-right: 60px;
  margin-left: 60px;
  
}

hr{
  background-color: rgba(0,0,0,1);
  margin-top: 15px;
  size: 5px;
}

.titleclear{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
  border: 2px solid black;
}

.titlefill{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
  background: Thistle;
  padding-top: 2px;
  padding-bottom: 2px;
}

.colorblock{
  width: 15%;
  margin-top: 3%;
}
.exptitle{
  color: rgba(0,0,0,1);
  font-family: "Montserrat";
  font-size: 22px;
  text-align: left;
  margin-left: 30px;
}

.expsubtitle{
  color: rgba(134,135,135,1);
  font-family: "Montserrat";
  font-size: 17px;
  text-align: left;
  margin-left: 30px;
  padding-top: 5px;
}

.expbody{
  font-family: "Domine";
  font-size: 18px;
  margin-left: 30px;
  margin-right: 345px;
  padding-bottom: 10px;
}

.projectdes{
  color: rgba(0,0,0,1);
  font-family: 'Domine';
  font-size: 17px;
  text-align: center;
  margin-top: -12px;
}

.projectdate{
  color: rgba(134,135,135,1);
  font-family: "Domine";
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.resumelist{
  color: rgba(0,0,0,1);
  font-family: "Domine";
  font-size: 22px;
  text-align: center;
  padding-top: 15px;
}

img.logo{
  display: block;
  width: 22%;
  height: 21%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  z-index: 200;
}

img.choicepic{
  display: block;
  width: 230px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
}

img.mentorpic{
  display: block;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

img.homebutton{
  position:fixed;
  top: 10px;
  left: 10px;
  display: block;
  width: 80px;
  height: 79px;
}

img.bio{
  display: block;
  width: 300px;
  height: 320px;
  margin-left: 40px;
  padding-top: 20px;
}

img.signature{
  display: block;
  width: 64%;
  height: 44%;
  margin-left: 35%;
  margin-top: -5%;
}

img.insta{
  margin-left:95%;
  margin-top: -15%;
  width: 45px;
  height: 33px;
}


img.upbeetlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 200px;
  width: 60%;
}

#photos{
  line-height: 3;
  -webkit-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 10px;
}

#photos img{
  width: 100% !important;
  height: auto !important;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

#photos img:hover{
  opacity: 0.7;
}



.menubar{
  padding-bottom: 30px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 100;
}

.menubar2{
  padding-bottom: 30px;
  top:0;
  z-index: 100;
}

.topmenubar{
  position: -webkit-sticky;
  position: sticky;
  margin-top: -6%;
}

img.myprojectpic{
  width: 49.5%;
}

img.paperpic{
  width: 100%;
}

.myproject{
  width: 80%;
  padding-top: 5%;
  padding-bottom: 2.5%;
  margin: auto;
}

.inkdescription{
  margin-left: 52%;
  width: 44%;
  /*font-size: 17px;*/
  font-size: 2.6vh;
}

.inktitle{
  text-align: center;
  font-family: 'Montserrat';
  /*font-size: 20px;*/
  font-size: 3.5vh;
  margin-bottom: 3%;
}

.homebar{
  width: 25%;
  height: 3px;
  margin: auto;
  background-color: black;
  margin-top: 5%;
  border-radius: 10px;
}

.homedescription{
  width: 55%;
  margin: auto;
  padding-top: 5%;
  font-size: 2.3vw;
}

.creativedescription{
    width: 60%;
    margin: auto;
    padding-top: 3%;
    font-size: 16pt;
    font-style: italic;
}

.creativebar{
  width: 25%;
  height: 3px;
  margin: auto;
  background-color: black;
  margin-top: 3%;
  border-radius: 10px;
}

.plainbar{
  width: 15%;
  height: 3px;
  margin: auto;
  background-color: black;
  border-radius: 10px;
  margin-top: -2%;
  margin-bottom: 4%;
}

.workbutton{
  width: 18%;
  margin: auto;
  background-color: black;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  border-radius: 2px;
}

.contactbutton{
  width: 50%;
  margin: auto;
  background-color: black;
  border-radius: 2px;
}

p.button{
  font-family: 'Montserrat';
  font-size: 2.9vh;
  text-align: center;
  color: white;
}

p.cbutton{
  font-family: 'Montserrat';
  font-size: 2.9vh;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.choiceparent{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
}

.choiceprojects{
  width: 28%;
  margin-left: 4%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.choicemenu{
  width: 28%;
  margin-left: 4%;
  /*font-family: 'Montserrat';
  font-size: 2.1vw;
  text-align: center;
  */
  margin-top: 2%;
}

.choice{
  width: 28%;
  margin-left: 45px;
  padding-top: 20%;
  padding-bottom: 15%;
}

.bioparent{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.biochild{
  width: 45%;
  margin: 15px;
  padding-top: 30px;
  font-family: 'Domine';
  font-size: 17px; 
  line-height: 2;
}

.resumeparent{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.resumechild{
  width: 29%;
  margin-left: 3%;
  font-family: "Domine";
  padding-bottom: 30px;
}

.otherheader{
  font-family: 'Montserrat';
  font-size: 3vw;
  font-weight: normal;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 5%;
  color: rgba(0,0,0,1);
}

.otherheader h3 {
  letter-spacing: 7px;
  font-size: 3vw;
  line-height: 3;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: -4%;
}

.errortitle{
  font-family: 'Montserrat';
  font-size: 6vw;
  text-align: center;
  color: rgba(0,0,0,1);
}

.errortext{
  font-family: 'Montserrat';
  font-size: 1.8vw;
  text-align: center;
  color: rgba(0,0,0,1);
  margin-top: 3%;
}

.container{
  margin: 10px;
  width: 115px;
  height: 115px;
  line-height: 115px;
  text-align: center;
  border: 1px solid red;
}

.resize_fit_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 75%;
}

.resize_half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;
}

.paperink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 79%;
  background-image: url("../img/paperink.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 12%;
  padding-bottom: 15%;
}

.textcenter{
  text-align: center;
}

.matprocess{
  font-family: "Domine";
  font-size: 18px;
  font-style: italic;
  margin-top: 5%;
  text-align: center;
}

.mavenformat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.infographic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
}

.curly {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


p.curlyblock {
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5%;
  margin-bottom: -0.5%;
  width: 35%;
  font-family: "Domine";
}

p.cap {
  font-size: 1.2em;
  line-height: 1.25em;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  text-align: left;
  font-family: "Domine";
}

h6 {
  font-size: 3em;
  margin-left: auto;
  margin-bottom: 0.5%;
  text-align: center;
  font-family: "Montserrat";
  margin-top: 1%;
}

.capsubtitle {
  font-size: 1.8em;
  text-align: left;
  font-family: "Montserrat";
  margin-left: 12.5%;
  margin-top: 3%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-capstone {
  width: 70%;
  position: relative;
  margin: auto;
  margin-top: 3%;
}

/* Slideshow container */
.slideshow-container {
  width: 75%;
  position: relative;
  margin: auto;
  margin-top: 3%;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  color: grey;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-5 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-6 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-7 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-8 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.dot-9 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.active, .dot:hover {
  background-color: #717171;
}

.active, .dot-1:hover {
  background-color: #717171;
}

.active, .dot-2:hover {
  background-color: #717171;
}

.active, .dot-3:hover {
  background-color: #717171;
}

.active, .dot-4:hover {
  background-color: #717171;
}

.active, .dot-5:hover {
  background-color: #717171;
}

.active, .dot-6:hover {
  background-color: #717171;
}

.active, .dot-7:hover {
  background-color: #717171;
}

.active, .dot-8:hover {
  background-color: #717171;
}

.active, .dot-9:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


img.Phprocess {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

a:link {
  color: rgba(0,0,0,1);
  text-decoration: none;
}

a:visited{
  color: rgba(0,0,0,1);
}

a:hover {
  color: DarkGray;
}

.footer{
  height: 60px;
  background-color: #efefef;
  text-align: center;
  font-family:'Montserrat'; 
  font-size: 18px;
  color: rgb(0,0,0,1);
}

.homefooter2{
  width: 100%;
  background-color: #efefef;
}

.footer2{
  width: 100%;
  background-color: #efefef;
  padding-bottom: 1.2%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 2%;
}

.footertext{
  text-align: center;
  font-size: 2.2vh;
  font-family: 'Montserrat';
  color: rgba(0,0,0,1);
  padding-top: 1.3%;
}

img.copyright{
  width: 1%;
}

ul{
  list-style-type: none;
}

.gist{
  width: 50% !important;
  margin-left: 25%;
}

.gist-file

.gist-data{
  max-height: 400px;
  max-width: 600px;
}

.gist-meta {
  display: none;
}


@media(max-width: 1300px){
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media screen and (max-width: 1100px){
  #photos{
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  #newnav img {
    float: left;
    display: block;
    height: 40px;
    padding: 5px;
    margin-left: 3%;
}

  .inkdescription{
    margin-left: 52%;
    margin-top: -3%;
    width: 44%;
    font-size: 2.6vh;
  }
  .topmenubar{
    position: -webkit-sticky;
    position: sticky;
    margin-top: -6%;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.1vw;
    text-align: center;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 150px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 850px) and (min-width: 701px){
  #photos{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .testingmenu { 
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 12px;
    font-family: "Montserrat";
    margin-right: 1%;
  }

  #newnav img {
    float: left;
    display: block;
    height: 38px;
    padding: 5px;
    margin-left: 3%;
}

  .choiceprojects{
    width: 42%;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.5vw;
    text-align: center;
  }
  img.myprojectpic{
    width: 100%;
  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/paperink3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 3vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 4vh;
    margin-top: -4%;
    margin-bottom: 3%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }
  .topmenubar{
    position: -webkit-sticky;
    position: sticky;
    margin-top: -7%;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 2.4vw;
    text-align: center;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 150px;
    padding-bottom: 10px;
  }
  h3{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
  }
  .titleclear{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    border: 2px solid black;
  }
  .titlefill{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    background: Thistle;
    padding-top: 2px;
    padding-bottom: 2px;
  }  
  .otherheader h1 {
    margin-top: 5%;
  }
}

@media screen and (max-width: 700px) and (min-width: 0px){
  #photos{
    -moz-column-count: 1;
    -webit-column-count: 1;
    column-count: 1;
  }

  .otherheader h1 {
    margin-top: 8%;
  }

  #newnav img {
    float: left;
    display: block;
    height: 35px;
    padding: 5px;
    margin-left: 0.5%;
  }


  .testingmenu { 
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 12px;
    font-family: "Montserrat";
    margin-right: 1%;
  }

  .choiceprojects{
    display: block;
    width: 100%;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 65%;
    margin: auto;
    padding-top: 5%;
    font-size: 3.1vw;
  }
  img.myprojectpic{
    width: 100%;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  .choiceprojects{
    display: block;
    width: 44%;
  }
  img.choicepic{
    display: block;
    width: 320px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .creativedescription{
      width: 90%;
      margin: auto;
      padding-top: 3%;
      font-size: 3vw;
      font-style: italic;
  }

  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 20px;
    text-align: center;
  }
  .projectdate{
    color: rgba(134,135,135,1);
    font-family: "Domine";
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 65%;
    margin: auto;
    padding-top: 5%;
    font-size: 3.1vw;
  }
  #photos{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/paperink4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 4.5vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 6.5vh;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 4vh;
    text-align: center;
    color: white;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.5vw;
    text-align: center;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  p.curlyblock {
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 55%;
    font-family: "Domine";
    font-size: 4vh;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 110px;
    height: 109px;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  img.logo{
    display: block;
    width: 31%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 200;
  }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  
  .creativedescription{
      width: 90%;
      margin: auto;
      padding-top: 3%;
      font-size: 3vw;
      font-style: italic;
  }
  .choiceprojects{
    display: block;
    width: 95%;
    margin-right: 6%;
  }
  img.choicepic{
    display: block;
    width: 520px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 15px;
    text-align: center;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  p.curlyblock {
    margin-left: 19%;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 64%;
    font-family: "Domine";
  }
  .menubar{
    width: 90%;
    margin-left: 5%;
    position: static;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 80%;
    margin: auto;
    padding-top: 5%;
    font-size: 4.9vw;
  }

  .matdescription{
    width: 80%;
    margin: auto;
    padding-top: 5%;
    font-size: 4.9vw;
  }

  .homepage{
    background-image: url("../img/mobileback2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/mobilepaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 2.7vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 4.3vh;
    margin-top: 107%;
    margin-bottom: 5%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }

  .workbutton{
    width: 35%;
    margin: auto;
    background-color: black;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 2px;
  }

  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 5vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .otherheader{
    font-family: 'Montserrat';
    font-size: 4.5vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgba(0,0,0,1);
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.8vw;
    text-align: center;
  }
  #photos{
    -moz-column-count: 1;
    -webit-column-count: 1;
    column-count: 1;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 150px;
    height: 148px;
  }
  img.logo{
    display: block;
    width: 46%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 200;
  }

}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
  .choiceprojects{
    display: block;
    width: 44%;
  }
  img.choicepic{
    display: block;
    width: 320px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 20px;
    text-align: center;
  }
  .projectdate{
    color: rgba(134,135,135,1);
    font-family: "Domine";
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 65%;
    margin: auto;
    padding-top: 5%;
    font-size: 3.1vw;
  }
  #photos{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/paperink4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 4.5vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 6.5vh;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 4vh;
    text-align: center;
    color: white;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.5vw;
    text-align: center;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  p.curlyblock {
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 55%;
    font-family: "Domine";
    font-size: 4vh;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 110px;
    height: 109px;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  img.logo{
    display: block;
    width: 31%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 200;
  }

}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
  .choiceprojects{
    display: block;
    width: 95%;
    margin-right: 6%;
  }
  img.choicepic{
    display: block;
    width: 520px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  img.copyright{
    width: 3%;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 15px;
    text-align: center;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  p.curlyblock {
    margin-left: 19%;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 64%;
    font-family: "Domine";
  }
  .menubar{
    width: 90%;
    margin-left: 5%;
    position: static;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 80%;
    margin: auto;
    padding-top: 5%;
    font-size: 4.9vw;
  }
  .homepage{
    background-image: url("../img/mobileback2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/mobilepaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 2.7vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 4.3vh;
    margin-top: 107%;
    margin-bottom: 5%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }

  .workbutton{
    width: 35%;
    margin: auto;
    background-color: black;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 2px;
  }

  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 5vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .otherheader{
    font-family: 'Montserrat';
    font-size: 4.5vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgba(0,0,0,1);
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.8vw;
    text-align: center;
  }
  #photos{
    -moz-column-count: 1;
    -webit-column-count: 1;
    column-count: 1;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 150px;
    height: 148px;
  }
  img.logo{
    display: block;
    width: 46%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 200;
  }
}

/* iPhone X */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  .choiceprojects{
    display: block;
    width: 44%;
  }
  img.choicepic{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 20px;
    text-align: center;
  }
  .projectdate{
    color: rgba(134,135,135,1);
    font-family: "Domine";
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 65%;
    margin: auto;
    padding-top: 5%;
    font-size: 3.1vw;
  }
  #photos{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/paperink4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 4.5vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 6.5vh;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 6vh;
    text-align: center;
    color: white;
  }
  .workbutton{
    width: 30%;
    margin: auto;
    background-color: black;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 2px;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.5vw;
    text-align: center;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  p.curlyblock {
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 55%;
    font-family: "Domine";
    font-size: 4vh;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 110px;
    height: 109px;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  img.logo{
    display: block;
    width: 31%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    z-index: 200;
  }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  .choiceprojects{
    display: block;
    width: 95%;
    margin-right: 6%;
  }
  img.choicepic{
    display: block;
    width: 520px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  img.copyright{
    width: 3%;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 15px;
    text-align: center;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  p.curlyblock {
    margin-left: 19%;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 64%;
    font-family: "Domine";
  }
  .menubar{
    width: 90%;
    margin-left: 5%;
    position: static;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 80%;
    margin: auto;
    padding-top: 5%;
    font-size: 4.9vw;
  }
  .homepage{
    background-image: url("../img/mobileback2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/mobilepaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 2.5vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3.3vh;
    margin-top: 107%;
    margin-bottom: 5%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }

  .workbutton{
    width: 45%;
    margin: auto;
    background-color: black;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 2px;
  }

  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 5vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .otherheader{
    font-family: 'Montserrat';
    font-size: 4.5vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgba(0,0,0,1);
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.8vw;
    text-align: center;
  }
  #photos{
    -moz-column-count: 1;
    -webit-column-count: 1;
    column-count: 1;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 150px;
    height: 148px;
  }
  img.logo{
    display: block;
    width: 46%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 200;
  }
  .footer2{
    background-color: #FFFFFF;
  }
  .footertext{
    color: white;
    font-size: 1px;
  }
  .copyright{
    width: 0px;
    height: 0px;
  }

}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : landscape) {
  img.choicepic{
    display: block;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 17px;
    text-align: center;
  }
  .projectdate{
    color: rgba(134,135,135,1);
    font-family: "Domine";
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
  }
  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 4vw;
    text-align: center;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 80px;
    height: 79px;
  }
}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : portrait) {
  .choiceprojects{
    display: block;
    width: 95%;
    margin-right: 6%;
  }
  img.choicepic{
    display: block;
    width: 520px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  img.insta{
    width: 0px;
    height: 0px;
  }
  .projectdes{
    color: rgba(0,0,0,1);
    font-family: "Domine";
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
  }
  .curly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  p.curlyblock {
    margin-left: 19%;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    width: 64%;
    font-family: "Domine";
  }
  .menubar{
    width: 90%;
    margin-left: 5%;
    position: static;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: center;
  }
  .homedescription{
    width: 80%;
    margin: auto;
    padding-top: 5%;
    font-size: 4.9vw;
  }
  .homepage{
    background-image: url("../img/mobileback2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
  }
  img.myprojectpic{
    width: 100%;

  }
  .paperink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-image: url("../img/mobilepaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 15%;
  }
  .inkdescription{
    /*margin-left: 7%; */
    margin: auto;
    width: 80%;
    font-size: 2.7vh;
  }
  .inktitle{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 4.3vh;
    margin-top: 107%;
    margin-bottom: 5%;
  }
  p.button{
    font-family: 'Montserrat';
    font-size: 2.5vh;
    text-align: center;
    color: white;
  }

  .workbutton{
    width: 35%;
    margin: auto;
    background-color: black;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 2px;
  }

  h2 {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 5vw;
    text-align: center;
  }
  header {
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2%;
    font-weight: 900;  
  }
  .otherheader{
    font-family: 'Montserrat';
    font-size: 4.5vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    color: rgba(0,0,0,1);
  }
  .resumechild{
    width: 95%;
    margin-left: 3%;
    font-family: "Domine";
    padding-bottom: 30px;
  }
  .expbody{
    font-family: "Domine";
    font-size: 18px;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 10px;
  }
  .nounderline{
    color: rgba(0,0,0,1);
    font-family: "Montserrat";
    font-size: 3.8vw;
    text-align: center;
  }
  #photos{
    -moz-column-count: 1;
    -webit-column-count: 1;
    column-count: 1;
  }
  img.homebutton{
    position:absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 150px;
    height: 148px;
  }
  img.logo{
    display: block;
    width: 46%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 200;
  }
}
